<div class="container">
  <h2>Users</h2>
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Age</th>
        <th>Email</th>
        <th>Characters</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{ user.id }}</td>
        <td>{{ user.name }}</td>
        <td>{{ user.age }}</td>
        <td>{{ user.email }}</td>
        <td>
          <ul>
            <li *ngFor="let character of user.characters">{{ character.name }}</li>
          </ul>
        </td>
      </tr>
    </tbody>
  </table>
</div>
