<div class="container">
    <h2>Character List</h2>
    <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Age</th>
          <th>Weapons</th>
          <th>Appearance</th>
          <th>Is Bought</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let character of characters">
          <td>{{ character.id }}</td>
          <td>{{ character.name }}</td>
          <td>{{ character.age }}</td>
          <td>
            <ul>
              <li *ngFor="let weapon of character.weapons">{{ weapon }}</li>
            </ul>
          </td>
          <td>
            <div>
              <p>Hair Color: {{ character.appearance.hairColor }}</p>
              <p>Eye Color: {{ character.appearance.eyeColor }}</p>
              <p>Height: {{ character.appearance.height }}</p>
              <p>Weight: {{ character.appearance.weight }}</p>
              <p>Visible: {{ character.appearance.isVisible }}</p>
            </div>
          </td>
          <td>{{ character.isBrought ? 'Yes' : 'No' }}</td>
        </tr>
      </tbody>
    </table>
  </div>